<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Weather Forecast</title>
</head>

<body>
	<h1>Display Weather Forecast</h1>
	Weather Forecast: <%- info %><br>
	Temperature (&#8457): <%- tempFa %><br>
	Temperature (&#8451): <%- tempCe %><br>
	Wind Speed (MPH): <%- wind %><br>
	Humidity (%): <%- humidity %><br> 


    <br>
</body>

</html>